$orange:#e45028;
$yellow:#f9b43b;
$black:#2f3234;
$red:#e35028;
$white:#fff;

@import "generic/normalize";
@import "generic/gagalin";
@import "generic/lifehack";
@import "generic/ubuntu";
@import "generic/layout";
@import "generic/common";
@import "generic/mixins";
@import "sections/aboutus";
@import "sections/first";
@import "sections/best";
@import "sections/footer";
@import "sections/header";
@import "sections/team";
@import "sections/burger";
@import "sections/menu";
@import "sections/map";
@import "sections/call";

@import "generic/widget";







