@font-face {
	font-family: 'Lifehack Medium';
	src: url('../font/Lifehack Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lifehack';
	src: url('../font/Lifehack Sans.woff') format('woff');
	font-weight: normal;
	font-style: normal;


}
