@font-face {
	font-family: 'Ubuntu-Regular';
	src: url('../font/Ubuntu-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('../font/Ubuntu-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;


}
@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('../font/Ubuntu-B.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}